<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %>
      </h1>
      <%= current_user.name %>
      <%= current_user.microposts.count %>
      <%= link_to 'edit profile', edit_user_registration_path %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user.microposts.any? %>
      <h3>Comments</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>